body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form {
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
    height: 1048px;
}
.login{
/*    width: 100%;
    height: 35px;
    background-color: rgb(242,242,242);
    border-bottom-color: rgb(229,229,229);
    border-top-color: rgb(229,229,229);
    color: #999;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height: 32px;
    font-size: 12px;*/
}
.search{
    width: 100%;
    height: 131px;
}
.search img {
    width: 200px;
    height: 118px;
    float: left;
    margin-left: 20%;
}
.searchbox{width:520px;height:80px;margin:40px auto 0 auto;}
.searchbox ul{ height:35px; width:500px; list-style:none; margin-left:20px}
.searchbox ul li{ float:left}
.searchbox ul li a{ float:left; line-height:35px; padding:0 20px; text-decoration:none; color:#000; font-size:14px; font-weight:bold;}
.searchbox ul li .style1{ background-color:#000; color:#fff}
.searchbox ul li .style2{ background-color:#f60;color:#fff}
.bodys input{ height:30px;line-height:30px;width:390px;padding:0 10px;float:left;}
.bodys .one{ border:#000 3px solid}
.bodys .two{ border:#f60 3px solid}
.bodys .one1{ background-color:#000; }
.bodys .two2{ background-color:#f60;}
.bodys button{float:left;border:0;height:36px;width:100px; color:#FFF; line-height:36px;text-align:center;overflow:hidden;}
.slideshow{
    width: 100%;
    height: 537px;
    z-index:1;
}
.uncon{
    background-color: rgb(245,245,245);
    width: 100%;
}
.uncon_in{
    width: 1627px;
    margin-left: 300px;
}
.mantitle{
    margin-left: 27%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.manimg{
    height: 269px;
    margin-left: 20px;
}
.manimg:hover{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}
.brand{
    margin-top: 34px;
    height: 385px;
}
.head{
    height: 55px;
}
.cn{
    padding-left: 15px;
    font-size: 21px;
    font-weight: bolder;
    line-height: 50px;
}
.en{
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
}
.more{
    float: right;
    display: block;
    padding-top: 19px;
    padding-right: 4%;
}
.img-ks-lazyload{
    height: 335px;
}
.img-ks-lazyload:hover{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}
.brandWall-item{
    float: left;
    background-color: rgb(255,255,255);
    margin-left: 20px;
}
.brandlogo{
    margin-top: 16px;
}
#iconWall{
    width: 1342px;
    background-color: #f0f0f0;
    overflow: hidden;
    padding-top: 1px;
    padding-left: 1px;
    list-style: none;
    margin-left: 20px;
}

#iconWall li{
    width: 121px;
    height: 108px;
    /*background-color: #fff;*/
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;

}

/*二、3D反转区域处理 */
.img-back, .img-front{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 121px;
    height: 108px;
    text-align: center;
    line-height: 108px;
}

li img{
    vertical-align: middle;
}


.img-3d{
    transform-style: preserve-3d;
}

.img-back{
    transform: rotateY(180deg);
}

/*测试代码*/
/*li:hover .img-3d{*/
/*transition: .3s linear;*/
/*transform: rotateY(180deg);*/
/*}*/

/*三、换一批*/
#btnRefresh{
    text-align: center;
    transition: .3s linear;
    background-color: #fff;
}
.iconRefresh{
    width: 28px;
    height: 28px;
    background: url("../img/refresh.png");
    margin: 32px auto 0;
}
#btnRefresh:hover{
    color: #fff;
    background-color: #dd2727;
    transition: 0s;
}
#btnRefresh:hover .iconRefresh{
    background: url("../img/refresh-white.png");
}


/*四、处理浮层*/
.mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 121px;
    height: 108px;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
}

.mask img{
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}
.mask p{
    font-size: 12px;
    color: #fff;
    margin-top: 45px;
    text-align: center;
}
.mask a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    background-color: red;
    width: 70px;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
}

li:hover .mask{
    opacity: 1;
    transition: .3s linear;
}

/*页脚*/
footer{
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    line-height: 1.4;
}
.clothes{}
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif; margin:0 auto;}
table{border-collapse:collapse;border-spacing:0;}
p{line-height:24px}

.clearfloat{height:0;font-size:1px;clear:both;line-height:0;}

#container{ width:1200px; text-align:left; margin:0 auto; color:#9be3fc;}
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; }


.box{width:1198px;border:1px solid #dcdcdc;padding-bottom:15px;}
.module-title{POSITION: relative; margin-top: 20px;}
.module-title h3{font-size:12px;font-weight:normal;color:#666666;height:45px;line-height:45px;padding:0px 9px;border-top:2px solid #999999;margin-top:-1px;margin-bottom:5px;}
.module-title ul{right:10px;position:absolute;top:10px;}
.module-title li.next{width:60px;height:20px;line-height:20px;}
.module-title li a{display:block;overflow:hidden;widtb:100%;cursor:pointer;color:#ffffff;height:100%;background:url(../images/more_ico.jpg) no-repeat right center;color:#999999;}
#sales-product .module-title LI.next a{height:20px;width:60px;}
#corner-product-main{}
#sales-product-main{OVERFLOW: hidden;PADDING-TOP: 9px;POSITION: relative;}
#sales-product-main ul{    WIDTH: 1350px;}
#sales-product-main LI A.a1{DISPLAY: block;MARGIN: 0px auto;VERTICAL-ALIGN: middle;WIDTH: 187px;HEIGHT: 178px;TEXT-ALIGN: center}
#sales-product-main LI A.sales-product-pic span{DISPLAY: inline-block;VERTICAL-ALIGN: middle;WIDTH: 0px}
#sales-product-main LI SPAN.price_symbol{FONT-SIZE: 23px;LINE-HEIGHT:20px}
#sales-product-main ul{}
#sales-product-main ul li{float:left;margin-right:20px;}
#sales-product-main ul li a{display:block;}
#sales-product-main ul li a span{display:block;height:30px;line-height:30px;overflow:hidden;color:#666666;text-align:center;}
#sales-product-main ul li a span:hover{color:#ff8400; text-decoration:underline;}
#sales-product-main ul li em{font-size:14px;color:#ff8400;font-weight:bold;font-style:normal;height:18px;line-height:18px;overflow:hidden;text-align:center;display:block;}
/*.end1{
    width: 100%;
    height: 368px;
}*/
.end2{
    width: 100%;
    height: 241px;
    background-color: #181c18;
    color: rgb(164,164,164);
}
.end2 a{
    color:white;
}

.mui-global-fragment-load{
    padding-top: 20px;
}
.footer-otherlink{
    line-height: 40px;
}
